table{
    border-collapse: collapse;
    text-align: justify;
    margin: 0px auto;
    width: 1000px;
}
table1,th,td{
    border-collapse: collapse;
    padding: 25px;
    font-family: sans-serif;
    text-decoration: solid;
    text-transform: capitalize;
}
thead{
    background-color: pink;
    text-transform: capitalize;
}

